.box1 {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

.box2 {
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}


.box1 img{
    width: 200px;
    height: 100px;
   
 
}

.box2 img{
    width: 200px;
    height: 100px;

}

.box3 img{
    width: 200px;
    height: 100px;

}

.box4 img{
    width: 200px;
    height: 100px;

}
.box5 img{
    width: 200px;
    height: 100px;

}
.box6 img{
    width: 200px;
    height: 100px;

}
.box7 img{
    width: 200px;
    height: 100px;

}